.side-bar
  .user-name
    .top-items
      .name
        しのだ
      .icons
        = link_to "#", class: "icon" do
          %i.fa.fa-edit
          %span<>
        = link_to "#", class: "icon" do
          %i.fa.fa-cog
  .group-lists
    .group-lists__group-name
      test
    .group-messages
      = link_to "#", class:"group-message"  do
        まだメッセージがありません