.side-bar
  .user-name
    .top-items
      %p.name
        しのだ
      .icons
        = link_to "#", class: "icons__icon" do
          %i.fa.fa-edit
          %span<>
        = link_to "#", class: "icons__icon icons__icon--cog" do
          %i.fa.fa-cog
  .group-lists
    .group-lists__group-name
      test
    = link_to "#", class:"group-lists__group-message"  do
      test2
    .group-lists__group-name
      test3
    = link_to "#", class:"group-lists__group-message"  do
      まだメッセージがありません