$whiteColor: #ffffff;
$lightBlue: #38aef0;
$darkCyan: #253141;
$middleCyan: #2f3e51;
$slightGray: #eeeeee;
$darkGray: #333333;
$gray: #999999;
$fordWhite: #fafafa;
$ironBlue: #434A54;
$lightGray: #ddd;